.main_container_Landing span {
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.titles {
  top: 30px;
  left: -40%;
  position: absolute;
  color: #fdec00;
  font-size: 70px;
  opacity: 0.8;
}

.titles:hover {
  opacity: 1;
}
.containbtn {
  background-color: #161616;
  border-radius: 40%;
  z-index: 1;
  width: 180px;
  height: 120px;
  position: absolute;
  left: 5%;
  top: 78%;
  transform: translate(-50%, -50%);
}

.btn {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  color: #fdec00;
  background: #4443446b !important ;
  position: absolute;
  left: 45%;
  top: 43%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 19px;
  box-shadow: 0 0 15px 0 rgb(255, 255, 255, 1);
}

/* .btn:hover{
    background:#4443446b!important ;
    color: #fdec00;
    font-size: 19px;
    box-shadow: 0 0 15px 0 rgb(255, 255, 255, 1);
} */

.img {
  position: absolute;
  top: 30%;
  position: fixed;
}
.img3 {
  position: absolute;
  width: 200px;
  top: 30%;
  left: 45%;
}

/* Login de prueba */
.bodi_landin {
  /* margin: 100px; */
  display: flex;
  /* background: linear-gradient(0deg, #1b1e26 6%, #303440 95%); */
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  justify-content: center;
  overflow: hidden;
}
.login {
  position: relative;
  width: 360px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  /* background: #15171d; */
}
.login_heading {
  text-align: center;
  background-attachment: fixed;
}
/* .login::before, */
.login_circuit_mask {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100vw;
  height: 100vh;
  background: url(https://clipground.com/images/circuit-board-png-12.png); /* imagen base */
  background-attachment: fixed;
}
/* circulo */
.login_circuit_mask {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}
/* .login:before {
    background: url(https://clipground.com/images/circuit-board-png-12.png);
} */
.login_circuit_mask {
  display: flex;
  place-items: center;
  -webkit-mask: url(https://clipground.com/images/circuit-board-png-12.png);
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
.login_circuit_mask:before {
  content: "";
  position: absolute;
  left: 60%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid #a200ff;
  animation: onda 3s 0s infinite;
  background-attachment: fixed;
}

.login_circuit_mask2 {
  content: "";
  position: absolute;
  z-index: -2;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

.login_circuit_mask2:before {
  content: "";
  position: absolute;
  left: 34%;
  top: 45%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid #ffee00;
  animation: onda 5s 0s infinite;
  background-attachment: fixed;
}
.btn{
  animation-name: opacidad;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes opacidad {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1.5;
  }
}

@keyframes onda {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(7);
  }
  100% {
    transform: scale(9);
  }
}

@media (max-width: 650px) {
  .containbtn {
    top: 70%;
    left: 96px;
  }
  .titles {
    top: 10%;
    left: 6px;
    font-size: 50px;
  }

  .img {
    width: 70vw;
    top: 67%;
    left: 30%;
  }
  .img3{
    width: 30vw;
    top: 60%;
    left: 10%;
  }
}
